*{
    padding: 0px 0px 0px 30px;
}




.full1{
    width: 600px;
}

.pizza-jay{
    width: 600px;
    height: auto;
}

.jay-by{
    font-size: 15px;
    padding-top: 18px;
}

.allrep{
    color: black;
}