


li{
    margin-top: 15px;
}

.full1,
.full2{
    width: 600px;
    margin: 0 0 0 100px;
    padding: 0px 0px 0px 100px;
}

.pizza-jay,
.pizza-two{
    width: 600px;
    height: auto;
    padding-top: 18px;
}

.jay-by,
.two-by{
    font-size: 15px;
    padding-top: 18px;
}

.allrep{
    color: black;
}

/* .cook-b1{
    display: block;
    width: 900px;
    text-align: center ;
    background-color: rgb(255, 210, 61);
} */

.descr-jay,
.steps-jay,
.descr-two,
.steps-two{
    padding-top: 18px;
}

.about-jay,
.about-two{
    margin-top: -10px;
}

