




.full1{
    width: 600px;
    margin: 0 0 0 100px;
    padding: 0px 0px 0px 100px;
}

.pizza-jay{
    width: 600px;
    height: auto;
}

.jay-by{
    font-size: 15px;
    padding-top: 0px;
}

.allrep{
    color: black;
}

/* .cook-b1{
    display: block;
    width: 900px;
    text-align: center ;
    background-color: rgb(255, 210, 61);
} */